__pycache__/
*.py[cod]
*~
*.DS_Store
*.so
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
*.pot
docs/_build/
sql/format.py
sql/output.json
sql/payload.json
sql/pxf.sql